<div class="container__home">
    <app-outdoor></app-outdoor>
    <section class="cards__home">
        <app-card gameCover="https://image.api.playstation.com/pr/bam-art/214/988/a768071e-1049-4d94-81c6-f3089f0d4eef.jpg?w=440&thumb=false"
        ></app-card>
        <app-card gameCover="https://image.api.playstation.com/pr/bam-art/175/034/e1e3a5c9-f220-4154-9969-8d375efc6453.jpg?w=440&thumb=false"
        ></app-card>
        <app-card gameCover="https://image.api.playstation.com/pr/bam-art/216/823/4acb28cc-560a-4a05-a81f-d8f409ac0267.jpg?w=440&thumb=false"
        ></app-card>
        <app-card gameCover="https://image.api.playstation.com/pr/bam-art/209/727/33ef2835-86f5-431b-8544-f900310e1755.jpg?w=440&thumb=false"
        ></app-card>
        <app-card gameCover="https://image.api.playstation.com/pr/bam-art/214/993/ee65a516-1a71-45df-94f1-ec4dd806213d.jpg?w=440&thumb=false"
        ></app-card>
        <app-card gameCover="https://image.api.playstation.com/pr/bam-art/214/993/b367d981-6e76-4c29-a8f8-908039776382.jpg?w=440&thumb=false"
        ></app-card>
    </section>
</div>


