<div class="container__home">

    <app-outdoor></app-outdoor>
    <section class="cards__home">
        <app-card gameCover="https://images.pexels.com/photos/1293260/pexels-photo-1293260.jpeg?auto=compress&cs=tinysrgb&w=600"
        gameLabel="New"
        pricingConsole="Digital"
        pricingMoney="129,99 R$"
        ></app-card>
        <app-card gameCover="https://images.pexels.com/photos/1637438/pexels-photo-1637438.jpeg?auto=compress&cs=tinysrgb&w=600"
        gameLabel="Exclusive"
        pricingConsole="Digital"
        pricingMoney="309,99 R$"
        ></app-card>
        <app-card gameCover="https://images.pexels.com/photos/3187173/pexels-photo-3187173.jpeg?auto=compress&cs=tinysrgb&w=600"
        gameLabel="Exclusive"
        pricingConsole="Digital"
        pricingMoney="100,99 R$"
        ></app-card>
        <app-card gameCover="https://images.pexels.com/photos/2728255/pexels-photo-2728255.jpeg?auto=compress&cs=tinysrgb&w=600"
        gameLabel="Limited"
        pricingConsole="Digital"
        pricingMoney="438,99 R$"
        ></app-card>
        <app-card gameCover="https://images.pexels.com/photos/1657328/pexels-photo-1657328.jpeg?auto=compress&cs=tinysrgb&w=600"
        gameLabel="Exclusive"
        pricingConsole="Digital"
        pricingMoney="120,99 R$"
        ></app-card>
        <app-card gameCover="https://images.pexels.com/photos/1293268/pexels-photo-1293268.jpeg?auto=compress&cs=tinysrgb&w=600"
        gameLabel="New"
        pricingConsole="Digital"
        pricingMoney="129,99 R$"
        ></app-card>
    </section>
</div>


