.container__menu{
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    position: sticky;
    z-index: 999;
    top: 0;
    align-items: center;
    justify-content: center;
}

.logo__menu{
    position: absolute;
    display: flex;
    left: 0;
    margin: 15px;
}
