<div class="container__menu">
    <div class="logo__menu">
        <img 
        src="../../../assets/Playstation_logo.png" 
        alt=""
        width="70px"
        height="40px">
    </div>
    <app-menu-bar-item></app-menu-bar-item>
    <div class="photo-user__menu">
        <app-menu-bar-user photoUser="https://plus.unsplash.com/premium_photo-1683121366070-5ceb7e007a97?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8dXN1YXJpb3xlbnwwfHwwfHx8MA%3D%3D"></app-menu-bar-user>
    </div>
</div>
