<section class="container__outdoor">
    <div class="outdoor__content">
        <!-- outdoor.component.html -->
         <!-- Essas inputs nao possuem nenhum efeito visual, é apenas uma ponte do typescript com o html-->
        <input #radio1 id="radio1" name="btn-radio" type="radio">
        <input #radio2 id="radio2" type="radio" name="btn-radio">

        <!--A classe primeiro fica se movimentando, movendo todas as outras consequentemente-->
        <div class="outdoor-box primeiro">
        <picture>
            <source media="(min-width: 1500px)" srcset="../../../assets/imagens-carrossel/slide1/imagem-carrossel1-1900px.png">
            <source media="(min-width: 1000px)" srcset="../../../assets/imagens-carrossel/slide1/imagem-carrossel1-1500px.png">
            <source media="(min-width: 800px)" srcset="../../../assets/imagens-carrossel/slide1/imagem-carrossel1-1000px.png">
            <img src="../../../assets/imagens-carrossel/slide1/imagem-carrossel1-500px.png" alt="imagem carrossel 1">
        </picture>
            <div class="description__outdoor">
                <div class="top-description__outdoor">
                    <h2>Aventuras de Primavera</h2>
                    <button>Economize Já</button>
                </div>
                <p>Aproveite grandes ofertas em títulos imperdíveis</p>
            </div>
        </div>

        <div class="outdoor-box">
        <picture>
            <source media="(min-width: 1501px)" srcset="../../../assets/imagens-carrossel/slide2/imagem-carrossel2-1900px.png">
            <source media="(min-width: 1001px)" srcset="../../../assets/imagens-carrossel/slide2/imagem-carrossel2-1500px.png">
            <source media="(min-width: 501px)" srcset="../../../assets/imagens-carrossel/slide2/imagem-carrossel2-1000px.png">
            <img src="../../../assets/imagens-carrossel/slide2/imagem-carrossel2-500px.png" alt="imagem carrossel 2">
        </picture>
            <div class="description__outdoor">
                <div class="top-description__outdoor">
                    <h2>Descobre o PlayStation Plus</h2>
                    <button>Saiba Mais</button>
                </div>
                <p>Aproveite centenas de jogos de PS5,PS4 e clássicos, modo multijogador online e mais benefícios imperdíveis.</p>
            </div>
        </div>

        <!--Elas ficam uma em cima da outra, ai parece que é uma só, mas não é-->
        <!--Responsável pela navegação automática-->
        <div class="nav-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
        </div>

        <!--Responsável pela navegação manual-->
        <div class="nav-manual">
            <label #radioLabel1 for="radio1" class="manual-btn"></label>
            <label #radioLabel2 for="radio2" class="manual-btn"></label>
        </div>
    </div>
</section>
