section.container__outdoor{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.outdoor__content{
    width: 400%;
    height: auto;
    display: flex;
}

.outdoor__content input, .img-1500px, .img-1000px, .img-500px{
    display: none;
}

.outdoor-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
}

.outdoor-box img{
    width: 100%;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 27%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px gray solid;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;

}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: gray ;
}