section.container__outdoor{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    margin-top: 5.7rem;
    background-color: white;
}

.outdoor__content{
    width: 400%;
    height: auto;
    display: flex;
}

.outdoor__content input, .img-1500px, .img-1000px, .img-500px{
    display: none;
}

.outdoor-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 0.5s;
}

.outdoor-box img{
    width: 100%;
}

/*Navegação*/

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 21.5%;
    display: flex;
    justify-content: center;
    transform: scale(0.8);
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px rgb(255, 255, 255) solid;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;

}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: rgb(255, 255, 255) ;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2{
  background-color: rgb(255, 255, 255);
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%; 
}

/*Descrição do outdoor*/

.description__outdoor{
    width: 100%;
    padding: 2.5rem 5rem;
    display: flex;
    flex-direction: column;
}

.top-description__outdoor{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-description__outdoor h2{
    font-weight: 200;
    font-size: 2em;
}

.top-description__outdoor button{
    background-color: #0070cc;
    color: white;
    font-weight: bold;
    padding: .8rem;
    font-size: 1em;
    border-radius: 3em;
}

.top-description__outdoor button:hover{
    background-color: rgb(19, 70, 128);
    cursor: pointer;
}

.description__outdoor p{
    text-align: left;
    margin-top: 2.5rem;
    color: rgb(94, 94, 94);
}

