<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">

<div class="container__services">
    <img src="../../../assets/playstatio-logo-azul150px.png" alt="Logo playstation" width="30px">
    <ul class="list__services">
        <li><button>Jogos <i class="bi bi-chevron-down"></i></button></li>
        <li><button>PS5 <i class="bi bi-chevron-down"></i></button></li>
        <li><button>PS4 <i class="bi bi-chevron-down"></i></button></li>
        <li><button>Serviços <i class="bi bi-chevron-down"></i></button></li>
        <li><button>Acessórios <i class="bi bi-chevron-down"></i></button></li>
        <li><button>Notícias <i class="bi bi-chevron-down"></i></button></li>
        <li><button>Loja <i class="bi bi-chevron-down"></i></button></li>
        <li><button>Suporte <i class="bi bi-chevron-down"></i></button></li>
    </ul>

    <div class="others__service">
        <button type="submit" class="iniciar_sessao">Iniciar sessão</button>
        <button class="search_button">Pesquisar <i class="bi bi-search"></i></button>
    </div>
</div>
