@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.container__services{
    background-color: white;
    display: flex;
    align-items: center;
}

.list__services{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2.7rem;
}

ul.list__services li button{
    font-size: 1em;
    background-color: transparent;
    color: rgb(112, 112, 112);
    font-weight: 500;

}

.container__services img{
    margin: 8px 20px;
}

*{
    font-family: "Poppins", sans-serif;
}